@import 'src/styles/vars';

.home{
  display: flex;
  margin-top: 3rem;
}
.home__section-1{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5em;
  .home__section-1__p{
    font-family: 'NeueHaasDisplay-Medium', sans-serif;
    font-weight: 100;
  }
  span{
    font-family: 'NeueHaasDisplay-Roman', sans-serif;
  }
}
.home__section-2{
  width: 50%;

  .home__section-2 img{
    width: 100%;
  }
}

@media #{$large-down} {
  .home__section-1 {
    font-size: 2.5em;
  }
}
@media #{$medium-down} {
  .home__section-1 {
    font-size: 2em;
  }
}
@media #{$small-down} {
  .home {
    flex-direction: column;
  }
  .home__section-1, .home__section-2 {
    width: 100%;
  }
}