.header{
  height: 6rem;
  background: rgb(239,221,230);
  background: linear-gradient(173deg, rgba(239,221,230,1) 0%, rgba(178,196,227,1) 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header__nav{
    color: #FFF;
    font-family: 'NeueHaasDisplay-Medium', sans-serif;

    a{
      font-size: 1.2em;
      margin-right: 5rem;
      transition: all .5s;
      display: inline-block;
      position: relative;
      font-family: 'NeueHaasDisplay-Medium', sans-serif;
      
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #FFF;
        transform-origin: bottom right;
        transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
      }
      &:hover::after{
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
    .selected {
      display: inline-block;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(1);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #FFF;
        transform-origin: bottom left;
        transition: transform .3s ease-in-out;
     }
     
     &:hover::after {
        transform: scaleX(0);
        transform-origin: bottom right;
     }
    }
  }
  .header__logo{
    margin-left: 2rem;
    font-family: 'Pistilli Roman';
    font-size: 4em;
    letter-spacing: -6px;
  }
}